*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin: 5% 0;
}

a{
    text-decoration: none;
    color: white;
}

button{
    border: none;
}

.relative{
    position: relative;
}


.blue-bg{
    background-color: #0084fd;
}

.lightblue-bg{
    background-color: #b5ddff;
}

.purple-bg{
    background-color: #9792e4;
}

.black-bg{
    background-color: #333333;
}

.yellow-text{
    color: #fdc15f;
    font-size: 5rem;
    margin: 1.5rem 0;
    font-weight: bolder;
}

.flex{
    display: flex;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.highlight{
    border: 2px solid red;
}

/* HEADER RULES */

.nav-bar{
    justify-content: space-between;
    padding: 0 1rem;
}

#nav-logo{
    align-items: center;
}

.nav-items ul{
    list-style-type: none;
    height: 100%;
    visibility: hidden;
}


.nav-items button a{
    color: #333333;
}

.nav-items button{
    background-color: white;
    border: none;
    border-radius: 13px;
    padding: .4rem 1rem;
    margin: 1rem 0;
}

.nav-items li{
    margin-left: 2rem;
    align-items: center;
    height: 100%;
}

.nav-icon-box{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2%;
    align-items: center;
    color: white;
}

/*******************************************************
            MAIN RULES
            FIRST SECTION

********************************************************/

.flex-wrapper{
    width: 100%;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 5% 0;
}

.bigger-col{
    width: 100%;
    /* height: 450px; */
    margin-bottom: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0 1rem;
}

.col{
    width: 100%;
    /* height: 450px; */
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.image-phone-container, .demo-description{
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.image-phone-container{
    margin-top: 2rem;
}

.first-section img{
    width: 60%;
} 

.short-description, .icon-box{
    text-align: center;
}

.icon-box, .first-section h1{
    color: #0084fd;
    padding: 1rem 0;
}

div.icon-box{
    font-size: 1.5rem;
    padding-top: 2rem;
}

.first-section p{
    line-height: 1.5rem;
    padding: 0 0 2rem 0;
}

.bigger-col button{
    background-color: #0084fd;
    padding: .5rem 3rem;
    border-radius: 1rem;
}


/************* SECOND SECTION RULES *************/

.container-2{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}

.item{
    width: 100%;
    margin: 5% 0;
    padding: 1rem;
}

.item h1{
    margin: 2rem 0;
    font-size: 2rem;
}

.item h2{
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.item p{
    line-height: 1.5rem;
}

.first-item{
    color: white;
}

.second-item{
    background-color: white;
    border-radius: 1rem;
    text-align: center;
}

.second-item p{
    font-style: italic;
}

.second-item i{
    color: #9792e4;
    padding: 2rem 0;
}

.image-box img{
    width: 100%;
}

/************* THIRD SECTION RULES *************/

.text-box{
    width: calc(100% - 2rem);
    text-align: center;
    margin: 1rem;
}

.text-box h1{
    color: #9792e4;
    margin: 1rem;
}

.user-label{
    width: calc(100% - 2rem);
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}

.description-box{
    text-align: center;
}

.user-label q{
    line-height: 1.5rem;
    padding: 1rem 0;
}

.quote-author{
    text-transform: uppercase;
    padding: 1rem 0;
}

.user-label img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
}

.third-section .container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% auto;

}

/************* FOURTH SECTION RULES *************/

.fourth-section div.col{
    background-color: white;
    margin-bottom: 1rem;
    width: 100%;
}

.fourth-section h1{
    text-align: center;
    color: white;
}

.fourth-section .container{
    padding: 1rem 0;
}

.white-col{
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    text-align: left; 
}

.white-col h2{
    margin: 1rem 0;
    color: #9792e4;
}

.white-col p{
    line-height: 1.5rem;
}

.white-col button{
    background-color: #9792e4;
    padding: .5rem 1.5rem;
    margin: 1rem 0;
    color: white;
    border-radius: 1rem;
}

h1.number{
    text-align: left;
    font-size: 2.5rem;
    color: #9792e4;
}


/************* FIFTH SECTION RULES *************/

.fifth-section .about-us-box, .fifth-section .user-quote{
    width: 100%;
}

.fifth-section .container{
    flex-wrap: wrap;
}

.fifth-section img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-us-box{
    margin-bottom: 1rem;
}


.about-us-box h1{
    font-size: 2.5rem;
    color: #9792e4;
    margin: 1rem 0;
}

.about-us-box p{
    font-size: 1.2rem;
}

.employee-quote{
    flex-direction: column;
    align-items: start;
}

.employee-quote p{
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #9792e4;
    font-weight: bold;
}

.employee-quote button{
    background-color: #9792e4;
    padding: .5rem 1.5rem;
    margin: 1rem 0;
    color: white;
    border-radius: 1rem;
}

/************* SIXTH SECTION RULES *************/

.sixth-section{
    margin-bottom: 0;
}

.info-box{
    text-align: center;
    color: white;
}

.info-box h1{
    padding: 1rem 0;
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: uppercase;
}

.info-box h2{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.info-box p{
    padding: 0 2rem 1rem;
}

.info-box .info-version{
    font-size: 1.2rem;
}

.info-box button{
    background-color: white;
    padding: .5rem 2rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

.info-box button a{
    color: #9792e4;
    font-size: 1.2rem;
}

.info-box ul{
    justify-content: center;
    padding: 2rem 0;
}

.info-box ul li{
    padding: 0 .6rem;
}

.info-box ul :first-child{
    list-style-type: none;
}


/************* FOOTER RULES *************/

.info-footer{
    text-align: center;
    color: white;
}

.info-footer a{
    color: #9792e4;
    text-decoration: underline;
}

.info-footer > p:first-child{
    padding: 2rem 0;
}

.careers{
    padding-bottom: 1rem;
}


@media screen and (min-width: 480px){

    .flex-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }

    .bigger-col{
        width: calc(100% / 3 * 2);
        /* height: 300px; */
        margin-bottom: 1rem;
        
    }
    
    .col{
        width: calc(100% / 3 - 1rem);
        /* height: 300px; */
        margin-bottom: 0;
    }

    .first-section .col:nth-child(2){
        margin-bottom: 1rem;
    }
    
    .first-section p{
        padding-bottom: 0;
    }

    .bigger-col p{
        padding-bottom: 1rem;
    }

    .user-label{
        flex-direction: row;
    }

    .description-box{
        text-align: left;
        margin: 0 1rem;
    }

    .fourth-section .flex-wrapper{
        flex-direction: row;
    }

    .white-col{
        width: calc(100% / 2 - 2rem);
    }

    .white-col h1, .white-col h2{
        color: #9792e4;
    }
    
    .fifth-section .container{
        flex-direction: row;
    }

    .fifth-section .about-us-box{
        width: 60%;
        color: #9792e4;
    }

    .about-us-box p{
        padding: 1rem 1rem 0 0;
        color: #333333;
    }
    .fifth-section .employee-quote{
        width: 40%;
        padding: 1rem 0 0 1rem;
    }

@media screen and (min-width: 768px){

    .nav-bar ul{
        visibility: visible;
    }

    .nav-bar .nav-icon-box{
        visibility: hidden;
    }

    .flex-wrapper{
        flex-direction: row;
        justify-content: space-between;
        
        }

    .bigger-col{
        width: calc(100% / 3 * 2);
        /* height: 300px; */
        margin-bottom: 1rem;
        flex-direction: row;
        }

    .first-section .col:nth-child(2){
        margin-bottom: 1rem;
        }

    .col{
        width: calc(100% / 3 - 1rem);
        /* height: 300px; */
        margin-bottom: 0;
        }

    .container-2{
            width: 80%;
            margin: 0 auto;
            flex-direction: row;
    }

    .second-section{
            margin: 5% 0;
    }

    .third-section .container{
            width: 90%;
            margin: 0 auto;
    }

    .white-col{
            width: calc(100% / 3 - 2rem);
    }
        
}



}