*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin: 5% 0;
}

a{
    text-decoration: none;
    color: white;
}

button{
    border: none;
}

.relative{
    position: relative;
}


.blue-bg{
    background-color: #0084fd;
}

.lightblue-bg{
    background-color: #b5ddff;
}

.purple-bg{
    background-color: #9792e4;
}

.black-bg{
    background-color: #333333;
}

.yellow-text{
    color: #fdc15f;
}

.flex{
    display: flex;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.highlight{
    border: 2px solid red;
}

/* HEADER RULES */

.nav-bar{
    justify-content: space-between;
    padding: 0 1rem;
}

#nav-logo{
    align-items: center;
}

.nav-items ul{
    list-style-type: none;
    height: 100%;
    visibility: hidden;
}


.nav-items button a{
    color: #333333;
}

.nav-items button{
    background-color: white;
    border: none;
    border-radius: 13px;
    padding: .4rem 1rem;
    margin: 1rem 0;
}

.nav-items li{
    margin-left: 2rem;
    align-items: center;
    height: 100%;
}

.nav-icon-box{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2%;
    align-items: center;
    color: white;
}

/*******************************************************
            MAIN RULES
            FIRST SECTION

********************************************************/

.flex-wrapper{
    width: 100%;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 5% 0;
}

.bigger-col{
    width: 100%;
    /* height: 450px; */
    margin-bottom: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0 1rem;
}

.col{
    width: 100%;
    /* height: 450px; */
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.image-phone-container, .demo-description{
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.image-phone-container{
    margin-top: 2rem;
}

.first-section img{
    width: 60%;
} 

.short-description, .icon-box{
    text-align: center;
}

.icon-box, .first-section h1{
    color: #0084fd;
    padding: 1rem 0;
}

div.icon-box{
    font-size: 1.5rem;
    padding-top: 2rem;
}

.first-section p{
    line-height: 1.5rem;
    padding: 0 0 2rem 0;
}

.bigger-col button{
    background-color: #0084fd;
    padding: .5rem 3rem;
    border-radius: 1rem;
}


/************* SECOND SECTION RULES *************/

.container-2{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}

.item{
    width: 100%;
    margin: 5% 0;
    padding: 1rem;
}

.item h1{
    margin: 2rem 0;
    font-size: 2rem;
}

.item h2{
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.item p{
    line-height: 1.5rem;
}

.first-item{
    color: white;
}

.second-item{
    background-color: white;
    border-radius: 1rem;
    text-align: center;
}

.second-item p{
    font-style: italic;
}

.second-item i{
    color: #9792e4;
    padding: 2rem 0;
}

.image-box img{
    width: 100%;
}

/************* THIRD SECTION RULES *************/

.text-box{
    width: calc(100% - 2rem);
    height: 200px;
    margin: 1rem;
}

.user-label{
    width: calc(100% - 2rem);
    height: 300px;
    margin: 1rem;
}

.third-section .container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% auto;

}

.fourth-section .col{
    background-color: white;
    margin-bottom: 1rem;
}

.fifth-section .description-box, .user-quote{
    height: 300px;
    width: 100%;
}

.sixth-section{
    margin-bottom: 0;
}

.info-box{
    height: 300px;
}

.info-footer{
    height: 300px;
}


@media screen and (min-width: 480px){

    .flex-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }

    .bigger-col{
        width: calc(100% / 3 * 2);
        /* height: 300px; */
        margin-bottom: 1rem;
        
    }
    
    .col{
        width: calc(100% / 3 - 1rem);
        /* height: 300px; */
        margin-bottom: 0;
    }

    .first-section .col:nth-child(2){
        margin-bottom: 1rem;
    }
    
    .first-section p{
        padding-bottom: 0;
    }

    .bigger-col p{
        padding-bottom: 1rem;
    }
    

    .fifth-section .container{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){

    .nav-bar ul{
        visibility: visible;
    }

    .nav-bar .nav-icon-box{
        visibility: hidden;
    }

    .flex-wrapper{
        flex-direction: row;
        justify-content: space-between;
        
        }

    .bigger-col{
        width: calc(100% / 3 * 2);
        /* height: 300px; */
        margin-bottom: 1rem;
        flex-direction: row;
        }

    .first-section .col:nth-child(2){
        margin-bottom: 1rem;
        }

    .col{
        width: calc(100% / 3 - 1rem);
        /* height: 300px; */
        margin-bottom: 0;
        }

        .container-2{
            width: 80%;
            margin: 0 auto;
            flex-direction: row;
        }

        .second-section{
            margin: 5% 0;
        }

        .third-section .container{
            width: 90%;
            margin: 0 auto;
        }
        
}



